$containerWidth: 800px;

// Colors

$color1: #999; // subtitles
$color2: #fff; // ...
$color3: #f1f1f1; // shadows and headers

$textColor: #373737;
$textRed: #de3d3d;

$BodyBgColor: #F5F6F8;

// links

$linkColor: #373737;
$linkColorHover: #3a7adb;

// Fonts

$fontFamilyTitle: "Raleway", Arial;
$fontFamilyText: "Roboto", Arial;

// Conf vars

$transition: .3s ease-out;