footer {
    border-top: 1px solid $color3;
    margin-top: 25px;
    padding-top: 50px;
    text-align: center;
    
    p.footer-report {
        margin-top: 10px;
        
        a {
            font-size: 13px;
            font-weight: 300;
        }
    }
}